body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    width: 1920px;
    position: relative;
}

/* ALL */

ul {
    list-style: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.125rem;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.125rem;
}

/* utilitaires */

.d-flex {
    display: flex;
}

.d-block {
    display: inline-block;
}

/* Boutons*/

button {
    color: white;
    background-color: #6852ED;
    border-style: none;
    border-radius: 1.563rem;
    font-family: 'Poppins';
    font-size: 1rem;
}

.best-btn {
    color: #EF7171;
    background-color: #EDEFF4;
    border-style: none;
    border-radius: 1.563rem;
    font-family: 'Poppins';
    font-size: 1rem;
}

.start-btn {
    margin-top: 2rem;
}


/* HEADER */

header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    justify-content: start;
}

header::before{
  content: "";  
  position: absolute;
  width: 100%;
  height: 100%;
  top: -75%;
  right: -60%;
  z-index: -1;
  background: url(https://www.fillmurray.com/g/600/600) 0 0;
  transform: rotate(-44deg);
  border-radius: 20rem;
}

.header-box {
    width: 27.25rem;
    height: 18.313rem;
}

/* PRICE */

#price {
    width: 71.25rem;
    height: 38.5rem;
    justify-content: center;
}

.price-block {
    margin: 3rem;
    border-radius: 20rem;
    border: black;
    box-shadow: black;
}

/* TESTIMONIAL */

#testimonial {
    width: 100%;
    height: 32.813rem;
    background-color: #F6F7FA;
}